venv/
node_modules/
# Ignore environment variables
.env
backend/.env

# Ignore API keys in Python files
backend/bing_scrap_urls.py
backend/extract_data.py
backend/summarization.py

# Ignore dependency files
frontend/package-lock.json
backend/requirements.txt